################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/irohaboard-es/CopilotIndices/17.13.444.19527
/.vs/irohaboard-es/v17
/.vs/irohaboard-es/FileContentIndex
/.vs
