################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/irohaboard-es/CopilotIndices/17.14.1681.23550
/.vs/irohaboard-es/FileContentIndex
/.vs/irohaboard-es/v17
/.vs
